//  Starter Resource File
//  File Starter.rc

#include "GDefines.h"        // Header file with #defines


// AppIcon automatically makes it the icon for the *.exe
// This icon is also used for the parent window
AppIcon ICON "3D_Animate.ico"

//defShadedTable8 BMPSHD LOADONCALL "Default.st8"
//defShadedTable16 BMPSHD LOADONCALL "Default.s16"
//defTexture BMPTXT LOADONCALL DISCARDABLE "Default.bt"

defShadedTable8 BMPSHD LOADONCALL "Default.st8"
defShadedTable16 BMPSHD LOADONCALL "Default.s16"
defTexture BMPTXT LOADONCALL DISCARDABLE "Default.bt"


EditMapAccl ACCELERATORS 
BEGIN 
    "O", MNU_OPEN_POLYGON, CONTROL, VIRTKEY    // Ctrl+O 
    "S", MNU_SAVEALL, CONTROL, VIRTKEY         // Ctrl+S 
    "Q", MNU_EXIT, CONTROL, VIRTKEY            // Ctrl+Q
	"A", MNU_SELECT_ALL, CONTROL, VIRTKEY    // Ctrl+A
    "R", BTN_CAM_OFF_MOVE, VIRTKEY            // R
    "C", BTN_CAM_CHANGE, VIRTKEY            // C  
END


Menu_1 MENU
{
	POPUP "&File"
	{
        MENUITEM "&Open Polygon Object...\tCtrl+O", MNU_OPEN_POLYGON
		MENUITEM "O&pen Camera Movement...", MNU_OPEN_CAM_MOVE
		MENUITEM "Open Object &Movement...", MNU_OPEN_OBJ_MOVE
		MENUITEM SEPARATOR
		MENUITEM "Save &Texture Library", MNU_SAVE_TXT_LIBRARY
        MENUITEM "Save Texture &Coordinates", MNU_SAVE_TXT_COORD
		MENUITEM "Save &Camera Movement", MNU_SAVE_CAM_MOVE
		MENUITEM "Save O&bject Movement", MNU_SAVE_OBJ_MOVE
        MENUITEM "&Save All\tCtrl+S", MNU_SAVEALL
        MENUITEM "&Close Polygon Object", MNU_CLOSE_POLYGON
		MENUITEM SEPARATOR
		POPUP "&Export"
		{
			MENUITEM "Compressed List", MNU_EXPORT_COMPRESSED
			MENUITEM "Export &Byte List", MNU_EXPORT_BYTE_LIST
			MENUITEM "Export &Word List", MNU_EXPORT_WORD_LIST
			MENUITEM "Export &Int List", MNU_EXPORT_INT_LIST	
		}
		MENUITEM SEPARATOR
		MENUITEM "&Reset Camera", MNU_RESET_CAMERA
		MENUITEM SEPARATOR
		MENUITEM "&Exit\tCtrl+Q", MNU_EXIT
	}

	POPUP "&Polygons"
	{
		MENUITEM "&Sort by Z-Order", MNU_SORT_Z_ORDER
		MENUITEM "&Select All Polygons\tCtrl+A", MNU_SELECT_ALL
		MENUITEM "&Select All Forward Facing Polygons", MNU_ALL_FORWARD_POLYS
		MENUITEM SEPARATOR
		MENUITEM "&Recalculate vertex lighting", MNU_CALC_LIGHTING
	}

	POPUP "&Textures"
	{
		MENUITEM "&Create/Add To Texture Library...", MNU_ADD_TEXT_TO_LIB
		MENUITEM SEPARATOR
		MENUITEM "&Rebuild Texture Library", MNU_REBUILD_LIBRARY
		MENUITEM "&Move Texture...", MNU_MOVE_TEXTURE
		MENUITEM "&Delete Texture", MNU_DELETE_TEXTURE
		MENUITEM SEPARATOR
		MENUITEM "&Delete All Dead Textures", MNU_DEL_DEAD_TXT
		MENUITEM "&Apply 1 to 1 Ratio", MNU_1_TO_1_RATIO	
	}
}


DLG_3D_ANIMATE DIALOG 0, 0, 676, 484
EXSTYLE WS_EX_DLGMODALFRAME
STYLE DS_MODALFRAME | DS_3DLOOK | DS_CENTER | WS_OVERLAPPED | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX
CAPTION "3D Edit/Animation Tool"
MENU Menu_1
FONT 8, "MS Sans Serif"
{
 CONTROL "", STC_VIEW_WND, "static", SS_LEFT | SS_NOTIFY | SS_SUNKEN | WS_CHILD | WS_VISIBLE | WS_BORDER, 8, 8, 537, 373
 CONTROL "", STC_TEXTURE_PREVIEW, "static", SS_LEFT | SS_SUNKEN | WS_CHILD | WS_VISIBLE | WS_BORDER, 556, 8, 112, 82, 0
 CONTROL "", STC_TXT_INFO, "static", SS_CENTER | WS_CHILD | WS_VISIBLE, 552, 92, 120, 8, 0
 CONTROL "Polygon Objects:", STC_POLY_OBJ, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 8, 384, 64, 8, 0
 CONTROL "Polygon Total:", STC_POLYGON_COUNT, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 8, 439, 84, 8, 0
 CONTROL "Render Count:", STC_POLY_RENDER, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 8, 449, 84, 8, 0
 CONTROL "Render Time:", STC_RENDER_TIME, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 8, 459, 84, 8, 0
 CONTROL "Polygon Index:", STC_POLYGON_INDEX, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 8, 469, 84, 8, 0
 CONTROL "Camera Coordinates:", GRP_MOVEMENT_BOX, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 96, 384, 108, 92, 0
 CONTROL "Camera Move:", STC_CAM_OFF_MOV, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 207, 384, 49, 8, 0
 CONTROL "", STC_CAMERA_COUNT, "static", SS_CENTER | WS_CHILD | WS_VISIBLE, 253, 384, 42, 8, 0
 CONTROL "Object Coordinates/Behavior", GRP_OBJ_CRD_BOX, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 296, 384, 108, 92, 0
 CONTROL "Object Move:", STC_OBJ_OFF_MOV, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 408, 384, 44, 8, 0
 CONTROL "", STC_OBJECT_MV_COUNT, "static", SS_CENTER | WS_CHILD | WS_VISIBLE, 452, 384, 40, 8, 0
 CONTROL "Frame2", -1, "static", SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 498, 388, 2, 88, 0
 CONTROL "Frame3", -1, "static", SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 596, 388, 2, 88, 0
 CONTROL "Frame4", -1, "static", SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 550, 379, 120, 1, 0
 CONTROL "", -1, "static", SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 550, 360, 120, 1, 0
 CONTROL "", EDT_X_TRAN_CAM, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 104, 428, 28, 12, 0
 CONTROL "Frame1", -1, "static", SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 0, 0, 676, 1, 0
 CONTROL "", LST_TEXTURES, "listbox", LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 556, 104, 112, 160, 0
 CONTROL "", LST_POLYGON_OBJS, "listbox", LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 8, 396, 84, 40, 0
 CONTROL "X Tran:", STC_OBJ_XTRAN, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 104, 416, 28, 8, 0
 CONTROL "Y Tran:", STC_OBJ_YTRAN, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 136, 416, 28, 8, 0
 CONTROL "", EDT_Y_TRAN_CAM, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 136, 428, 28, 12, 0
 CONTROL "Z Tran:", STC_OBJ_ZTRAN, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 168, 416, 28, 8, 0
 CONTROL "", EDT_Z_TRAN_CAM, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 168, 428, 28, 12, 0
 CONTROL "X Rot:", STC_OBJ_XROT, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 104, 444, 24, 8, 0
 CONTROL "", EDT_X_ROT_CAM, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 104, 456, 28, 12, 0
 CONTROL "Y Rot:", STC_CAM_YROT, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 336, 444, 24, 8, 0
 CONTROL "", EDT_Y_ROT_CAM, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 136, 456, 28, 12, 0
 CONTROL "Z Rot:", STC_OBJ_ZROT, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 168, 444, 24, 8, 0
 CONTROL "", EDT_Z_ROT_CAM, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 168, 456, 28, 12, 0
 CONTROL "X Tran:", STC_CAM_XTRAN, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 304, 416, 28, 8, 0
 CONTROL "Y Tran:", STC_CAM_YTRAN, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 336, 416, 28, 8, 0
 CONTROL "Z Tran:", STC_CAM_ZTRAN, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 368, 416, 28, 8, 0
 CONTROL "X Rot:", STC_CAM_XROT, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 304, 444, 24, 8, 0
 CONTROL "Y Rot:", STC_OBJ_YROT, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 136, 444, 24, 8, 0
 CONTROL "Z Rot:", STC_CAM_ZROT, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 368, 444, 24, 8, 0
 CONTROL "", EDT_X_TRAN_OBJ, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 304, 428, 28, 12, 0
 CONTROL "", EDT_Y_TRAN_OBJ, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 336, 428, 28, 12, 0
 CONTROL "", EDT_Z_TRAN_OBJ, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 368, 428, 28, 12, 0
 CONTROL "", EDT_X_ROT_OBJ, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 304, 456, 28, 12, 0
 CONTROL "", EDT_Y_ROT_OBJ, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 336, 456, 28, 12, 0
 CONTROL "", EDT_Z_ROT_OBJ, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 368, 456, 28, 12, 0
 CONTROL "Move Camera", RDO_MOVE_CAMERA, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 100, 400, 56, 12, 0
 CONTROL "Move Object", RDO_MOVE_OBJECT, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 300, 393, 60, 12, 0
 CONTROL "", LST_OFFSET_MOVE, "listbox", LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 408, 396, 84, 63, 0
 CONTROL "Record", BTN_OFFSET_MOVE, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 408, 462, 36, 14, 0
 CONTROL "Change", BTN_CHANGE_OFFSET_MOVE, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 452, 462, 40, 14, 0
 CONTROL "", LST_CAM_OFFSET_MOVE, "listbox", LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 207, 396, 84, 63, 0
 CONTROL "Record", BTN_CAM_OFF_MOVE, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 207, 462, 36, 14, 0
 CONTROL "Change", BTN_CAM_CHANGE, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 253, 462, 38, 14, 0
 CONTROL "Zero Pt", CHK_MOVE_ACCUMULATIVE, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 160, 400, 39, 12, 0
 CONTROL "Obj Animation List:", STC_ANIM_LST, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 506, 384, 70, 8, 0
 CONTROL "", LST_MOVEMENT, "listbox", LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 506, 396, 84, 63, 0
 CONTROL "Add", BTN_ADD_MOVE, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_TABSTOP, 506, 462, 24, 14, 0
 CONTROL "Play", BTN_PLAY_MOVE, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_TABSTOP, 534, 462, 24, 14, 0
 CONTROL "", EDT_FPS, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_BORDER | WS_TABSTOP, 566, 463, 24, 12, 0
 CONTROL "Camera:", STC_CAM_SIZE, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 648, 426, 32, 8, 0
 CONTROL "", EDT_CAMERA_SIZE, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 648, 438, 24, 12, 0
 CONTROL "Max Z Dist:", STC_MAX_Z_DIST, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 604, 426, 40, 8, 0
 CONTROL "", EDT_MAX_DISTANCE, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 604, 438, 40, 12, 0
 CONTROL "Texture Mode:", CHK_TEXTURE_MODE, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 604, 384, 68, 12, 0
 CONTROL "Frame Count:", STC_FRAME_COUNT, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 556, 268, 44, 8, 0
 CONTROL "Frame Rate:", STC_FRAME_RATE, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 600, 268, 44, 8, 0
 CONTROL "", EDT_FRAME_COUNT, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 556, 280, 40, 12, 0
 CONTROL "", EDT_FRAME_RATE, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 600, 280, 40, 12, 0
 CONTROL "Apply Polygon Settings", BTN_APPLY_TEXT, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 553, 342, 83, 14, 0
 CONTROL "Rotate", BTN_ROTATE, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 639, 342, 32, 14, 0
 CONTROL "Trans Move Amount:", STC_TRANS_MOVE, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 604, 453, 72, 8, 0
 CONTROL "", EDT_XYTRANS_MOVE_AMT, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 616, 464, 20, 12, 0
 CONTROL "X/Y:", STC_XY, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 600, 466, 16, 8, 0
 CONTROL "Z:", STC_Z, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 640, 466, 8, 8, 0
 CONTROL "", EDT_ZTRANS_MOVE_AMT, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 649, 464, 20, 12, 0
 CONTROL "", EDT_INTENSITY, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 644, 280, 24, 12, 0
 CONTROL "Intensity:", STC_INTENSITY, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 643, 268, 32, 8, 0
 CONTROL "Trails", CHK_TRAILS, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 360, 393, 40, 12, 0
 CONTROL "-Y", BTN_MIN_Y, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 580, 364, 12, 10, 0
 CONTROL "+Y", BTN_PLUS_Y, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 592, 364, 12, 10, 0
 CONTROL "-X", BTN_MIN_X, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 552, 364, 12, 10, 0
 CONTROL "+X", BTN_PLUS_X, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 564, 364, 12, 10, 0
 CONTROL "-Z", BTN_MIN_Z, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 608, 364, 12, 10, 0
 CONTROL "+Z", BTN_PLUS_Z, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 620, 364, 12, 10, 0
 CONTROL "Rotate", CHK_ROT, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 636, 364, 40, 12, 0
 CONTROL "Rot pt", CHK_ROTATE_FROM_PT, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 360, 404, 40, 12, 0
 CONTROL "Trans", CHK_TRANS_POLY, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 555, 324, 37, 12, 0
 CONTROL "Light Dist:", STC_MAX_LIGHT_DIST, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 636, 398, 40, 8, 0
 CONTROL "", EDT_MAX_LITE_DIST, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 632, 410, 40, 12, 0
 CONTROL "", CHK_WIRE_FRAME, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 604, 409, 20, 12, 0
 CONTROL "Wire:", STC_WIRE_FRAME, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 604, 399, 24, 8, 0
 CONTROL "U:", STC_U, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 555, 296, 16, 8, 0
 CONTROL "V:", STC_V, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 585, 296, 12, 8, 0
 CONTROL "Width:", STC_U_WIDTH, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 615, 296, 24, 8, 0
 CONTROL "Height:", STC_V_HEIGHT, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 644, 296, 28, 8, 0
 CONTROL "", EDT_U, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 555, 308, 24, 12, 0
 CONTROL "", EDT_V, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 585, 308, 24, 12, 0
 CONTROL "", EDT_U_WIDTH, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 615, 308, 24, 12, 0
 CONTROL "", EDT_V_HEIGHT, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 645, 308, 24, 12, 0
 CONTROL "As Light", CHK_AS_LIGHT_SOURCE, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 304, 405, 48, 12, 0
 CONTROL "No Check", CHK_NO_CHECK_EXTEN, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 592, 324, 48, 12, 0
 CONTROL "Solid", CHK_SOLID, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 641, 324, 32, 12, 0
}


DLG_LOAD_PICT DIALOG 0, -1, 235, 119
STYLE DS_3DLOOK | DS_CONTROL | WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS
FONT 8, "MS Sans Serif"
{
 CONTROL "", STC_PICTLOAD_IMAGE_WND, "static", SS_LEFT | SS_SUNKEN | WS_CHILD | WS_VISIBLE | WS_BORDER, 52, 0, 172, 104, 0
 CONTROL "", STC_PICTLOAD_INFO, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 52, 107, 172, 8, 0
}

DLG_MOVE_ITEM DIALOG 0, 0, 164, 86
EXSTYLE WS_EX_DLGMODALFRAME
STYLE DS_MODALFRAME | DS_3DLOOK | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "Move Current Item to a New Position"
FONT 8, "MS Sans Serif"
{
 CONTROL "OK", BTN_OK, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 48, 60, 46, 14
 CONTROL "Cancel", BTN_CANCEL, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 100, 60, 46, 14
 CONTROL "Select the new position you want the current selection to be in:", -1, "static", SS_CENTER | WS_CHILD | WS_VISIBLE, 20, 8, 124, 24, 0
 CONTROL "", CBO_MOVE_ITEM, "combobox", CBS_DROPDOWNLIST | CBS_DISABLENOSCROLL | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 20, 36, 124, 96, 0
}