/* Resource holding christmas midi toons */

/* Strings for the list control and resource */
midilist LST LOADONCALL DISCARDABLE "midi.lst"


/* midi toons */
anglhigh MIDI LOADONCALL DISCARDABLE "anglhigh.mid"
away MIDI LOADONCALL DISCARDABLE "away.mid"
bluexmas MIDI LOADONCALL DISCARDABLE "bluexmas.mid"
torch MIDI LOADONCALL DISCARDABLE "torch.mid"
MSRbells MIDI LOADONCALL DISCARDABLE "MSRbells.mid"
bells2 MIDI LOADONCALL DISCARDABLE "bells2.mid"
chstnut1 MIDI LOADONCALL DISCARDABLE "chstnut1.mid"
chstnut2 MIDI LOADONCALL DISCARDABLE "chstnut2.mid"
christme MIDI LOADONCALL DISCARDABLE "christme.mid"
xmastune MIDI LOADONCALL DISCARDABLE "xmastune.mid"
sugarplm MIDI LOADONCALL DISCARDABLE "sugarplm.mid"
deckhll1 MIDI LOADONCALL DISCARDABLE "deckhll1.mid"
deckhll2 MIDI LOADONCALL DISCARDABLE "deckhll2.mid"
hearwht1 MIDI LOADONCALL DISCARDABLE "hearwht1.mid"
hearwht2 MIDI LOADONCALL DISCARDABLE "hearwht2.mid"
noel1 MIDI LOADONCALL DISCARDABLE "noel1.mid"
noel2 MIDI LOADONCALL DISCARDABLE "noel2.mid"
frosty1 MIDI LOADONCALL DISCARDABLE "frosty1.mid"
frosty2 MIDI LOADONCALL DISCARDABLE "frosty2.mid"
MSRgdrst MIDI LOADONCALL DISCARDABLE "MSRgdrst.mid"
goldear MIDI LOADONCALL DISCARDABLE "goldear.mid"
MSRHark MIDI LOADONCALL DISCARDABLE "MSRHark.mid"
hark2 MIDI LOADONCALL DISCARDABLE "hark2.mid"
hllyjlly MIDI LOADONCALL DISCARDABLE "hllyjlly.mid"
sailing MIDI LOADONCALL DISCARDABLE "sailing.mid"
wander MIDI LOADONCALL DISCARDABLE "wander.mid"
midnight MIDI LOADONCALL DISCARDABLE "midnight.mid"
lookxmas MIDI LOADONCALL DISCARDABLE "lookxmas.mid"
wondrful MIDI LOADONCALL DISCARDABLE "wondrful.mid"
jbllrock MIDI LOADONCALL DISCARDABLE "jbllrock.mid"
joyworld MIDI LOADONCALL DISCARDABLE "joyworld.mid"
letsnow1 MIDI LOADONCALL DISCARDABLE "letsnow1.mid"
letsnow2 MIDI LOADONCALL DISCARDABLE "letsnow2.mid"
linusxms MIDI LOADONCALL DISCARDABLE "linusxms.mid"
holynite MIDI LOADONCALL DISCARDABLE "holynite.mid"
oxmastr1 MIDI LOADONCALL DISCARDABLE "oxmastr1.mid"
oxmastr2 MIDI LOADONCALL DISCARDABLE "oxmastr2.mid"
faithful MIDI LOADONCALL DISCARDABLE "faithful.mid"
pchricom MIDI LOADONCALL DISCARDABLE "pchricom.mid"
pchristm MIDI LOADONCALL DISCARDABLE "pchristm.mid"
pskating MIDI LOADONCALL DISCARDABLE "pskating.mid"
rocktree MIDI LOADONCALL DISCARDABLE "rocktree.mid"
rudolph MIDI LOADONCALL DISCARDABLE "rudolph.mid"
santacmng MIDI LOADONCALL DISCARDABLE "santacmng.mid"
silntnt MIDI LOADONCALL DISCARDABLE "silntnt.mid"
slvrbel1 MIDI LOADONCALL DISCARDABLE "slvrbel1.mid"
slvrbel2 MIDI LOADONCALL DISCARDABLE "slvrbel2.mid"
sothis1 MIDI LOADONCALL DISCARDABLE "sothis1.mid"
sothis2 MIDI LOADONCALL DISCARDABLE "sothis2.mid"
still MIDI LOADONCALL DISCARDABLE "still.mid"
hollyivy MIDI LOADONCALL DISCARDABLE "hollyivy.mid"
noplace MIDI LOADONCALL DISCARDABLE "noplace.mid"
rooftop MIDI LOADONCALL DISCARDABLE "rooftop.mid"
wethree MIDI LOADONCALL DISCARDABLE "wethree.mid"
whtchld MIDI LOADONCALL DISCARDABLE "whtchld.mid"
winwondr MIDI LOADONCALL DISCARDABLE "winwondr.mid"