//  Starter Resource File
//  File Starter.rc

#include "GDefines.h"        // Header file with #defines
#include <windows.h>

// AppIcon automatically makes it the icon for the *.exe
// This icon is also used for the parent window
AppIcon ICON "Example.ico"

DLG_DO_NOTHING DIALOG 0, 0, 187, 97
EXSTYLE WS_EX_DLGMODALFRAME
STYLE DS_MODALFRAME | DS_3DLOOK | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "Render Select"
FONT 8, "MS Sans Serif"
{
 CONTROL "Done", BTN_CANCEL, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 128, 76, 50, 14
 CONTROL "Render Device", IDC_GROUPBOX1, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 100, 8, 80, 50, 0
 CONTROL "DirectX", ID_RDO_DIRECTX, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 108, 19, 60, 12, 0
 CONTROL "OpenGL", ID_RDO_OPENGL, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 108, 31, 60, 12, 0
 CONTROL "Software", ID_RDO_SOFTWARE, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 108, 43, 60, 12, 0
 CONTROL "Render Resolution", IDC_GROUPBOX2, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 8, 8, 84, 64, 0
 CONTROL "640 x 480", ID_RDO_640_480, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 16, 20, 60, 12, 0
 CONTROL "800 x 600", ID_RDO_800_600, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 16, 32, 60, 12, 0
 CONTROL "1024 x 768", ID_RDO_1024_768, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 16, 44, 60, 12, 0
 CONTROL "1280 x 1024", ID_RDO_1280_1024, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 16, 56, 60, 12, 0
 CONTROL "Full Screen", ID_CHK_FULL_SCREEN, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 8, 76, 56, 12, 0
 CONTROL "Invert Mouse", CHK_INVERT_MOUSE, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 64, 76, 60, 12, 0
 CONTROL "Disable Textures", CHK_NO_TEXTURES, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 100, 60, 80, 12, 0
}



