/************************************************************************
*
*    PRODUCT:         Resource manager
*
*    FILE NAME:       mnganim.rc
*
*    DESCRIPTION:     32 bit flat memory resource management 
*
*    Copyright(c) by Howard C Rosenorn
*    All Rights Reserved
*
************************************************************************/

#include "GDefines.h"         // Header file with #defines


// AppIcon automatically makes it the icon for the *.exe
// This icon is also used for the parent window
AppIcon ICON "starter.ico"


DLG_MNGANIM_WND DIALOG 0, 0, 682, 484
STYLE DS_3DLOOK | WS_OVERLAPPED | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME | WS_MINIMIZEBOX
CAPTION "MNG Animator"
MENU DIALOG_MENU
FONT 8, "MS Sans Serif"
{
 CONTROL "", LST_MNG_SCRIPT_FILES, "listbox", LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | LBS_EXTENDEDSEL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 6, 396, 146, 64, 0
 CONTROL "Create Script", BTN_CREATE_SCRIPT, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 6, 464, 50, 14, 0
 CONTROL "", EDT_BASE_XOFST, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 68, 464, 20, 12, 0
 CONTROL "", EDT_BASE_YOFST, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 100, 464, 20, 12, 0
 CONTROL "", EDT_BASE_ZOFST, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 132, 464, 20, 12, 0
 CONTROL "", LST_AVAILABLE_MNG, "listbox", LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | LBS_EXTENDEDSEL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 160, 392, 76, 84, 0
 CONTROL "", LST_ANIM_FRAMES, "listbox", LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | LBS_EXTENDEDSEL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 244, 392, 116, 68, 0
 CONTROL "Add Frame", BTN_ADD_FRAME, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 244, 464, 44, 14, 0
 CONTROL "Ghost Prev Frame", CHK_GOST_PREV_FRAME, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 292, 464, 76, 12, 0
 CONTROL "", EDT_XOFSET, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 368, 390, 28, 12, 0
 CONTROL "", EDT_YOFSET, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 368, 415, 28, 12, 0
 CONTROL "", EDT_Z_ORDER, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 368, 440, 28, 12, 0
 CONTROL "", EDT_DISPLAY_COUNT, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 368, 464, 28, 12, 0
 CONTROL "", LST_SCRIPTS_TO_ANIM, "listbox", LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 444, 392, 99, 32, 0
 CONTROL "Play", BTN_PLAY_SCRIPTS, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_TABSTOP, 416, 464, 32, 14, 0
 CONTROL "Add Script To List", BTN_ADD_SCRIPT, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 472, 464, 72, 14, 0
 CONTROL "", EDT_FPS, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_BORDER | WS_TABSTOP, 416, 412, 24, 12, 0
 CONTROL "ListBox1", LST_MNG_FRAMES, "listbox", LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 551, 99, 124, 93, 0
 CONTROL "", LST_MNG_FILES, "listbox", LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 551, 224, 124, 252, 0
 CONTROL "", STC_PREVIEW_WND, "static", SS_LEFT | SS_SUNKEN | WS_CHILD | WS_VISIBLE | WS_BORDER, 551, 4, 124, 80, 0
 CONTROL "", STC_VIEW_WND, "static", SS_SIMPLE | SS_NOTIFY | SS_SUNKEN | WS_CHILD | WS_VISIBLE | WS_BORDER, 6, 4, 537, 373
 CONTROL "Frame1", -1, "static", SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 0, 0, 690, 1, 0
 CONTROL "Frame Info:", STC_PREVIEW_INFO, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 551, 87, 124, 8, 0
 CONTROL "MNG File List:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 551, 196, 100, 8, 0
 CONTROL "Scripts:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 6, 384, 26, 8, 0
 CONTROL "MNG Available Frames:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 160, 380, 80, 8, 0
 CONTROL "Animation Frames:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 244, 380, 64, 8, 0
 CONTROL "Scripts To Animate:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 416, 380, 80, 8, 0
 CONTROL "Frames Per Sec:", STC_FRAMES_PER_SEC, "static", SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_DISABLED, 408, 392, 32, 20, 0
 CONTROL "X Offset:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 368, 380, 32, 8, 0
 CONTROL "Y Offset:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 368, 405, 32, 8, 0
 CONTROL "Repeat:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 368, 454, 32, 8, 0
 CONTROL "Frame2", -1, "static", SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 405, 380, 2, 100, 0
 CONTROL "X:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 59, 468, 8, 8, 0
 CONTROL "Y:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 91, 468, 8, 8, 0
 CONTROL "Z Order:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 368, 430, 29, 8, 0
 CONTROL "Path", STC_MNG_PATH, "edit", ES_LEFT | ES_AUTOHSCROLL | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 551, 208, 124, 12, 0
 CONTROL "Path", STC_SCRIPT_PATH, "edit", ES_LEFT | ES_AUTOHSCROLL | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 32, 380, 120, 12, 0
 CONTROL "Z:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 124, 468, 8, 8, 0
 CONTROL "ListBox7", LST_PLAY_OPTIONS, "listbox", LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 416, 428, 128, 32, 0
}

// Move pages around
DLG_MOVE_PAGE DIALOG 0, 0, 164, 86
EXSTYLE WS_EX_DLGMODALFRAME
STYLE DS_MODALFRAME | DS_3DLOOK | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "Move Current Item to a New Position"
FONT 8, "MS Sans Serif"
{
 CONTROL "OK", BTN_OK, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 48, 60, 46, 14
 CONTROL "Cancel", BTN_CANCEL, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 100, 60, 46, 14
 CONTROL "Select the new position you want the current selection to be in:", -1, "static", SS_CENTER | WS_CHILD | WS_VISIBLE, 20, 8, 124, 24, 0
 CONTROL "", CBO_MOVE_PAGE, "combobox", CBS_DROPDOWNLIST | CBS_DISABLENOSCROLL | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 20, 36, 124, 96, 0
}

DLG_GET_NAME DIALOG 0, 0, 240, 45
EXSTYLE WS_EX_DLGMODALFRAME
STYLE DS_MODALFRAME | DS_3DLOOK | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "Enter Script Name"
FONT 8, "MS Sans Serif"
{
 CONTROL "", EDT_GET_SCRIPT, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 8, 22, 164, 12, 0
 CONTROL "OK", BTN_OK, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 186, 6, 50, 14
 CONTROL "Cancel", BTN_CANCEL, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 186, 26, 50, 14
 CONTROL "Enter the name of the script to be created:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 8, 8, 164, 8, 0
}

DLG_LOAD_PICT DIALOG 0, -1, 235, 119
STYLE DS_3DLOOK | DS_CONTROL | WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS
FONT 8, "MS Sans Serif"
{
 CONTROL "", STC_PICTLOAD_IMAGE_WND, "static", SS_LEFT | SS_SUNKEN | WS_CHILD | WS_VISIBLE | WS_BORDER, 52, 0, 172, 104, 0
 CONTROL "", STC_PICTLOAD_INFO, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 52, 107, 172, 8, 0
}

DLG_MEDIA_DIR DIALOG 0, 0, 281, 85
STYLE DS_3DLOOK | DS_CONTROL | WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS
FONT 8, "MS Sans Serif"
{
 CONTROL "Play Selected Sound File", BTN_PLAY_SOUND, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 168, 8, 101, 14
 CONTROL "", EDT_SOUND_VOLUME, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 168, 40, 28, 12, 0
 CONTROL "Volume:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 168, 28, 32, 8, 0
 CONTROL "Frame1", -1, "static", SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 1, 0, 278, 1, 0
 CONTROL "ListBox1", LST_FRAME_SND, "listbox", LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | LBS_EXTENDEDSEL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 12, 16, 140, 60, 0
 CONTROL "Frame sound list:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 12, 4, 140, 8, 0
 CONTROL "", EDT_CHANNEL, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 204, 40, 28, 12, 0
 CONTROL "Channel:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 204, 28, 32, 8, 0
 CONTROL "Add Sound File To List", BTN_ADD_SND, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 168, 62, 92, 14, 0
}

DIALOG_ACC ACCELERATORS 
BEGIN  
    "Q",  MNU_EXIT,                CONTROL, VIRTKEY  // Ctrl+Q
    "O",  MNU_OPEN_PROJ_PATH,      CONTROL, VIRTKEY  // Ctrl+Q
    "S",  MNU_SAVE_ACTIVE_SCRIPTS, CONTROL, VIRTKEY  // Ctrl+S
    "L",  MNU_LOAD_BACKGROUND,     CONTROL, VIRTKEY  // Ctrl+L 
END

DIALOG_MENU MENU 
{
    POPUP "&File"
    {
        MENUITEM "&Open MNG Folder...\tCtrl+O", MNU_OPEN_PROJ_PATH
		MENUITEM "&Save All Active Scripts\tCtrl+S", MNU_SAVE_ACTIVE_SCRIPTS
		MENUITEM SEPARATOR        
		MENUITEM "&Load Background...\tCtrl+L", MNU_LOAD_BACKGROUND
		MENUITEM "&Clear Background", MNU_CLEAR_BACKGROUND
        MENUITEM SEPARATOR
        MENUITEM "&Exit\tCtrl+Q", MNU_EXIT
    }

	POPUP "&Sound"
	{
		MENUITEM "&Set Frame Sound Properties...", MNU_SET_SOUND
		MENUITEM "&Clear Frame Sound Properties...", MNU_CLEAR_SOUND
		MENUITEM SEPARATOR
		MENUITEM "&Play Sounds During Animation", MNU_PLAY_SOUNDS_ANIM
	}

	MENUITEM "&Help", MNU_HELP
}


// Version information
1 VERSIONINFO
 FILEVERSION 3,3,0,0
 PRODUCTVERSION 3,3,0,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0xbL
#else
 FILEFLAGS 0xaL
#endif
 FILEOS 0x4L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "Comments", "Fire Fly Resource Manager\0"
            VALUE "CompanyName", "WMS Gaming\0"
            VALUE "FileDescription", "Fire Fly Resource Tool\0"
            VALUE "FileVersion", "1.0.7\0"
            VALUE "InternalName", "Resource Manager\0"
            VALUE "LegalCopyright", "\251 Copyright 2001 WMS Gaming\0"
            VALUE "LegalTrademarks", "\0"
            VALUE "OriginalFilename", "Resource Manager.exe\0"
            VALUE "ProductName", "Resource Manager\0"
            VALUE "ProductVersion", "1.0.7\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END

