/* Create-a-Saver artwork */

#define PROGRAM "Create-A-Saver"
#define WEBSITE "www.howiesfunware.com"

ScrnSettings GIF LOADONCALL DISCARDABLE "logotext.GIF"

/* Strings for the list control and resource */
imagelist LST LOADONCALL DISCARDABLE "image.lst"

/* Help File */
helpFile HLP LOADONCALL DISCARDABLE "Create.hlp"

/* Error Images & Misc */
missingGIF GIF LOADONCALL DISCARDABLE "Missing.GIF"
missingWMF WMF LOADONCALL DISCARDABLE "Missing.WMF"
errorGIF GIF LOADONCALL DISCARDABLE "Error.GIF"
errorWMF WMF LOADONCALL DISCARDABLE "Error.WMF"
folder WMF LOADONCALL DISCARDABLE "folder.WMF"
folderGIF GIF LOADONCALL DISCARDABLE "folder.gif"
dirMissing WMF LOADONCALL DISCARDABLE "dirmiss.wmf"
dirEmpty WMF LOADONCALL DISCARDABLE "dirempty.WMF"
dirMisGIF GIF LOADONCALL DISCARDABLE "dirM.gif"
dirEmptyGIF GIF LOADONCALL DISCARDABLE "dirE.gif"
textdemo GIF LOADONCALL DISCARDABLE "textdemo.GIF"


/* Images */
palette WMF LOADONCALL MOVEABLE "Arteq066.wmf"
bomb WMF LOADONCALL MOVEABLE "Bomb001.wmf"
basketball WMF LOADONCALL MOVEABLE "Bsktb034.wmf"
catfish WMF LOADONCALL MOVEABLE "Cat003.wmf"
bearbeer WMF LOADONCALL MOVEABLE "Cbear009.wmf"
ostrage WMF LOADONCALL MOVEABLE "Cbird011.wmf"
boychild WMF LOADONCALL MOVEABLE "Cchld003.wmf"
girlchild WMF LOADONCALL MOVEABLE "Cchld004.wmf"
lemonade WMF LOADONCALL MOVEABLE "Cchld082.wmf"
teaparty WMF LOADONCALL MOVEABLE "Cchld094.wmf"
dino WMF LOADONCALL MOVEABLE "Cdino004.wmf"
dogrun WMF LOADONCALL MOVEABLE "Cdog037.wmf"
dogbite WMF LOADONCALL MOVEABLE "Cdog050.wmf"
eatout WMF LOADONCALL MOVEABLE "Cfaml003.wmf"
familyeat WMF LOADONCALL MOVEABLE "Cfaml005.wmf"
oldman WMF LOADONCALL MOVEABLE "Cmen041.wmf"
fatman WMF LOADONCALL MOVEABLE "Cmen042.wmf"
watchtv WMF LOADONCALL MOVEABLE "Cmen088.wmf"
chuckwaggon WMF LOADONCALL MOVEABLE "Cmen190.wmf"
sadface WMF LOADONCALL MOVEABLE "Cmisc002.wmf"
smile WMF LOADONCALL MOVEABLE "Cmisc005.wmf"
smilelyface WMF LOADONCALL MOVEABLE "Cmisc006.wmf"
monster WMF LOADONCALL MOVEABLE "Cmisc100.wmf"
beer WMF LOADONCALL MOVEABLE "Cobje005.wmf"
overworked WMF LOADONCALL MOVEABLE "Cpepo008.wmf"
ambulance WMF LOADONCALL MOVEABLE "Ctruk010.wmf"
hardworking WMF LOADONCALL MOVEABLE "Cwmno026.wmf"
offtowork WMF LOADONCALL MOVEABLE "Cwmno041.wmf"
sheface WMF LOADONCALL MOVEABLE "Cwomn009.wmf"
tiredface WMF LOADONCALL MOVEABLE "Cwomn011.wmf"
dancing WMF LOADONCALL MOVEABLE "Cwomn012.wmf"
oldlady WMF LOADONCALL MOVEABLE "Cwomn054.wmf"
wisky WMF LOADONCALL MOVEABLE "Cwomn064.wmf"
compwrite WMF LOADONCALL MOVEABLE "Deskc019.wmf"
compargue WMF LOADONCALL MOVEABLE "Deskc023.wmf"
comprazz WMF LOADONCALL MOVEABLE "Deskc024.wmf"
hotdrink WMF LOADONCALL MOVEABLE "Drink123.wmf"
bdcake WMF LOADONCALL MOVEABLE "Food131.wmf"
fishing WMF LOADONCALL MOVEABLE "Fshng001.wmf"
idea WMF LOADONCALL MOVEABLE "Lbulb004.wmf"
playpiano WMF LOADONCALL MOVEABLE "Minst004.wmf"
musicnotes WMF LOADONCALL MOVEABLE "Mnote009.wmf"
kidart WMF LOADONCALL MOVEABLE "Schms021.wmf"
compsearch WMF LOADONCALL MOVEABLE "Schms034.wmf"
nuclear WMF LOADONCALL MOVEABLE "Scien002.wmf"
blocks WMF LOADONCALL MOVEABLE "Toy025.wmf"
jackinbox WMF LOADONCALL MOVEABLE "Toy049.wmf"
kite WMF LOADONCALL MOVEABLE "Toy061.wmf"
umbrella WMF LOADONCALL MOVEABLE "Umbre006.wmf"




/* Background */
back1 GIF LOADONCALL MOVEABLE "Jb000688.gif"
back2 GIF LOADONCALL MOVEABLE "Jb000690.gif"
back3 GIF LOADONCALL MOVEABLE "Jb000691.gif"
back4 GIF LOADONCALL MOVEABLE "Jb000692.gif"
back5 GIF LOADONCALL MOVEABLE "Jb000693.gif"
back6 GIF LOADONCALL MOVEABLE "Jb000695.gif"
back7 GIF LOADONCALL MOVEABLE "Jb000697.gif"
back8 GIF LOADONCALL MOVEABLE "Jb000698.gif"
back9 GIF LOADONCALL MOVEABLE "Jb000700.gif"
back10 GIF LOADONCALL MOVEABLE "Jb000701.gif"
back11 GIF LOADONCALL MOVEABLE "Jb000702.gif"
back12 GIF LOADONCALL MOVEABLE "Jb000704.gif"
back13 GIF LOADONCALL MOVEABLE "Jb000705.gif"
back14 GIF LOADONCALL MOVEABLE "Jb000707.gif"
back15 GIF LOADONCALL MOVEABLE "Jb000709.gif"
back16 GIF LOADONCALL MOVEABLE "Jb000712.gif"
back17 GIF LOADONCALL MOVEABLE "Jb000713.gif"
back18 GIF LOADONCALL MOVEABLE "Jb000714.gif"
back19 GIF LOADONCALL MOVEABLE "Jb000715.gif"
back20 GIF LOADONCALL MOVEABLE "Jb000716.gif"
back21 GIF LOADONCALL MOVEABLE "Jb000717.gif"
back22 GIF LOADONCALL MOVEABLE "Jb000718.gif"
back23 GIF LOADONCALL MOVEABLE "Jb000719.gif"
back24 GIF LOADONCALL MOVEABLE "Jb000720.gif"
back25 GIF LOADONCALL MOVEABLE "Jb000722.gif"
back26 GIF LOADONCALL MOVEABLE "Jb000723.gif"
back27 GIF LOADONCALL MOVEABLE "Jb000726.gif"
back28 GIF LOADONCALL MOVEABLE "Jb000728.gif"
back29 GIF LOADONCALL MOVEABLE "Jb000729.gif"
back30 GIF LOADONCALL MOVEABLE "Jb000730.gif"
back31 GIF LOADONCALL MOVEABLE "Jb000731.gif"
back32 GIF LOADONCALL MOVEABLE "Jb000732.gif"
back33 GIF LOADONCALL MOVEABLE "Jb000734.gif"
back34 GIF LOADONCALL MOVEABLE "Jb000735.gif"
back35 GIF LOADONCALL MOVEABLE "Jb000739.gif"
back36 GIF LOADONCALL MOVEABLE "Jb000741.gif"
back37 GIF LOADONCALL MOVEABLE "Jb000748.gif"
back38 GIF LOADONCALL MOVEABLE "Jb000749.gif"
back39 GIF LOADONCALL MOVEABLE "Jb000752.gif"


STRINGTABLE LOADONCALL DISCARDABLE
BEGIN

  /* Order Form Strings*/
	500, WEBSITE
	501, "2158637-1871" /* Full Version Number */
	502, "64A-753-31C7" /* First Temp Number */
	503, "2D7-4K2-5W93" /* Second Temp Number */
	504, "nghaqzf2.dli" /* First Temp Number check file */
	505, "jqh5qzew.dli" /* Second Temp Number check file */
	506, "Thank you for registering the " PROGRAM " screen saver. Please visit my web site for more great screen savers.  " WEBSITE

END