#include "GDefines.h"

//  Make the name of this resource the name of your screen saver
//  This resource is for holding all your screen saver specific resources

// AppIcon automatically makes it the icon for the *.exe
// This icon is also used for the parent window
AppIcon ICON "screen.ico"

// Graphics

// Rudolf Dance	0

RudolfFrame0_0 POLY LOADONCALL DISCARDABLE "Deer_A01.ply"
RudolfFrame0_1 POLY LOADONCALL DISCARDABLE "Deer_A02.ply"
RudolfFrame0_2 POLY LOADONCALL DISCARDABLE "Deer_A04.ply"
RudolfFrame0_3 POLY LOADONCALL DISCARDABLE "Deer_A05.ply"
RudolfFrame0_4 POLY LOADONCALL DISCARDABLE "Deer_A07.ply"
RudolfFrame0_5 POLY LOADONCALL DISCARDABLE "Deer_A09.ply"
RudolfFrame0_6 POLY LOADONCALL DISCARDABLE "Deer_A10.ply"

// Rudolf Dance	1

RudolfFrame1_0 POLY LOADONCALL DISCARDABLE "Deer_B01.ply"
RudolfFrame1_1 POLY LOADONCALL DISCARDABLE "Deer_B02.ply"
RudolfFrame1_2 POLY LOADONCALL DISCARDABLE "Deer_B03.ply"
//RudolfFrame1_2 POLY LOADONCALL DISCARDABLE "Deer_B04.ply"
RudolfFrame1_3 POLY LOADONCALL DISCARDABLE "Deer_B05.ply"
//RudolfFrame1_2 POLY LOADONCALL DISCARDABLE "Deer_B06.ply"
RudolfFrame1_4 POLY LOADONCALL DISCARDABLE "Deer_B07.ply"
//RudolfFrame1_5 POLY LOADONCALL DISCARDABLE "Deer_B08.ply"
RudolfFrame1_5 POLY LOADONCALL DISCARDABLE "Deer_B09.ply"
//RudolfFrame1_6 POLY LOADONCALL DISCARDABLE "Deer_B10.ply"
RudolfFrame1_6 POLY LOADONCALL DISCARDABLE "Deer_B11.ply"
//RudolfFrame1_2 POLY LOADONCALL DISCARDABLE "Deer_B12.ply"
RudolfFrame1_7 POLY LOADONCALL DISCARDABLE "Deer_B13.ply"
//RudolfFrame1_9 POLY LOADONCALL DISCARDABLE "Deer_B14.ply"
RudolfFrame1_8 POLY LOADONCALL DISCARDABLE "Deer_B15.ply"
//RudolfFrame1_10 POLY LOADONCALL DISCARDABLE "Deer_B16.ply"
RudolfFrame1_9 POLY LOADONCALL DISCARDABLE "Deer_B17.ply"
//RudolfFrame1_2 POLY LOADONCALL DISCARDABLE "Deer_B18.ply"
RudolfFrame1_10 POLY LOADONCALL DISCARDABLE "Deer_B19.ply"
RudolfFrame1_11 POLY LOADONCALL DISCARDABLE "Deer_B20.ply"
RudolfFrame1_12 POLY LOADONCALL DISCARDABLE "Deer_B21.ply"

// Rudolf Dance	2
RudolfFrame2_0  POLY LOADONCALL DISCARDABLE "Deer_C01.ply"
RudolfFrame2_1  POLY LOADONCALL DISCARDABLE "Deer_C02.ply"
RudolfFrame2_2  POLY LOADONCALL DISCARDABLE "Deer_C03.ply"
RudolfFrame2_3  POLY LOADONCALL DISCARDABLE "Deer_C04.ply"
RudolfFrame2_4  POLY LOADONCALL DISCARDABLE "Deer_C05.ply"
RudolfFrame2_5  POLY LOADONCALL DISCARDABLE "Deer_C06.ply"
RudolfFrame2_6  POLY LOADONCALL DISCARDABLE "Deer_C07.ply"
RudolfFrame2_7  POLY LOADONCALL DISCARDABLE "Deer_C08.ply"
RudolfFrame2_8  POLY LOADONCALL DISCARDABLE "Deer_C09.ply"
RudolfFrame2_9  POLY LOADONCALL DISCARDABLE "Deer_C10.ply"
RudolfFrame2_10 POLY LOADONCALL DISCARDABLE "Deer_C11.ply"
RudolfFrame2_11 POLY LOADONCALL DISCARDABLE "Deer_C12.ply"
RudolfFrame2_12 POLY LOADONCALL DISCARDABLE "Deer_C13.ply"
RudolfFrame2_13 POLY LOADONCALL DISCARDABLE "Deer_C14.ply"
RudolfFrame2_14 POLY LOADONCALL DISCARDABLE "Deer_C15.ply"
RudolfFrame2_15 POLY LOADONCALL DISCARDABLE "Deer_C16.ply"

// Santa Dance 0
SantaDance0_0 POLY LOADONCALL DISCARDABLE "SantaD11_01.ply"
SantaDance0_1 POLY LOADONCALL DISCARDABLE "SantaD11_02.ply"
SantaDance0_2 POLY LOADONCALL DISCARDABLE "SantaD11_03.ply"
SantaDance0_3 POLY LOADONCALL DISCARDABLE "SantaD11_04.ply"
SantaDance0_4 POLY LOADONCALL DISCARDABLE "SantaD11_05.ply"
SantaDance0_5 POLY LOADONCALL DISCARDABLE "SantaD11_06.ply"
SantaDance0_6 POLY LOADONCALL DISCARDABLE "SantaD11_07.ply"
SantaDance0_7 POLY LOADONCALL DISCARDABLE "SantaD11_08.ply"
SantaDance0_8 POLY LOADONCALL DISCARDABLE "SantaD11_09.ply"
SantaDance0_9 POLY LOADONCALL DISCARDABLE "SantaD11_10.ply"

// Santa Dance 1
SantaDance1_0 POLY LOADONCALL DISCARDABLE "SantaD1_01.ply"
SantaDance1_1 POLY LOADONCALL DISCARDABLE "SantaD1_02.ply"
SantaDance1_2 POLY LOADONCALL DISCARDABLE "SantaD1_03.ply"
SantaDance1_3 POLY LOADONCALL DISCARDABLE "SantaD1_04.ply"
SantaDance1_4 POLY LOADONCALL DISCARDABLE "SantaD1_05.ply"
SantaDance1_5 POLY LOADONCALL DISCARDABLE "SantaD1_06.ply"
SantaDance1_6 POLY LOADONCALL DISCARDABLE "SantaD1_07.ply"
SantaDance1_7 POLY LOADONCALL DISCARDABLE "SantaD1_08.ply"
SantaDance1_8 POLY LOADONCALL DISCARDABLE "SantaD1_09.ply"
SantaDance1_9 POLY LOADONCALL DISCARDABLE "SantaD1_10.ply"
SantaDance1_10 POLY LOADONCALL DISCARDABLE "SantaD1_11.ply"

// Santa Dance 2
SantaDance2_0 POLY LOADONCALL DISCARDABLE "SantaD2_01.ply"
SantaDance2_1 POLY LOADONCALL DISCARDABLE "SantaD2_02.ply"
SantaDance2_2 POLY LOADONCALL DISCARDABLE "SantaD2_04.ply"
SantaDance2_3 POLY LOADONCALL DISCARDABLE "SantaD2_05.ply"
SantaDance2_4 POLY LOADONCALL DISCARDABLE "SantaD2_06.ply"
SantaDance2_5 POLY LOADONCALL DISCARDABLE "SantaD2_07.ply"
SantaDance2_6 POLY LOADONCALL DISCARDABLE "SantaD2_08.ply"
SantaDance2_7 POLY LOADONCALL DISCARDABLE "SantaD2_10.ply"
SantaDance2_8 POLY LOADONCALL DISCARDABLE "SantaD2_11.ply"

// Santa Dance 3
SantaDance3_0 POLY LOADONCALL DISCARDABLE "SantaD4_01.ply"
SantaDance3_1 POLY LOADONCALL DISCARDABLE "SantaD4_02.ply"
SantaDance3_2 POLY LOADONCALL DISCARDABLE "SantaD4_03.ply"
SantaDance3_3 POLY LOADONCALL DISCARDABLE "SantaD4_04.ply"
SantaDance3_4 POLY LOADONCALL DISCARDABLE "SantaD4_05.ply"
SantaDance3_5 POLY LOADONCALL DISCARDABLE "SantaD4_06.ply"
SantaDance3_6 POLY LOADONCALL DISCARDABLE "SantaD4_07.ply"
SantaDance3_7 POLY LOADONCALL DISCARDABLE "SantaD4_08.ply"
SantaDance3_8 POLY LOADONCALL DISCARDABLE "SantaD4_09.ply"
SantaDance3_9 POLY LOADONCALL DISCARDABLE "SantaD4_10.ply"
SantaDance3_10 POLY LOADONCALL DISCARDABLE "SantaD4_11.ply"

// Santa Dance 4
SantaDance4_0 POLY LOADONCALL DISCARDABLE "SantaD6_01.ply"
SantaDance4_1 POLY LOADONCALL DISCARDABLE "SantaD6_02.ply"
SantaDance4_2 POLY LOADONCALL DISCARDABLE "SantaD6_03.ply"
SantaDance4_3 POLY LOADONCALL DISCARDABLE "SantaD6_04.ply"
SantaDance4_4 POLY LOADONCALL DISCARDABLE "SantaD6_05.ply"
SantaDance4_5 POLY LOADONCALL DISCARDABLE "SantaD6_06.ply"
SantaDance4_6 POLY LOADONCALL DISCARDABLE "SantaD6_07.ply"
SantaDance4_7 POLY LOADONCALL DISCARDABLE "SantaD6_08.ply"
SantaDance4_8 POLY LOADONCALL DISCARDABLE "SantaD6_09.ply"

// Santa Dance 5
SantaDance5_0  POLY LOADONCALL DISCARDABLE "SantaD7_01.ply"
SantaDance5_1  POLY LOADONCALL DISCARDABLE "SantaD7_02.ply"
SantaDance5_2  POLY LOADONCALL DISCARDABLE "SantaD7_03.ply"
SantaDance5_3  POLY LOADONCALL DISCARDABLE "SantaD7_04.ply"
SantaDance5_4  POLY LOADONCALL DISCARDABLE "SantaD7_05.ply"
SantaDance5_5  POLY LOADONCALL DISCARDABLE "SantaD7_06.ply"
SantaDance5_6  POLY LOADONCALL DISCARDABLE "SantaD7_07.ply"
SantaDance5_7  POLY LOADONCALL DISCARDABLE "SantaD7_08.ply"
SantaDance5_8  POLY LOADONCALL DISCARDABLE "SantaD7_09.ply"
SantaDance5_9  POLY LOADONCALL DISCARDABLE "SantaD7_10.ply"
SantaDance5_10 POLY LOADONCALL DISCARDABLE "SantaD7_11.ply"
SantaDance5_11 POLY LOADONCALL DISCARDABLE "SantaD7_12.ply"
SantaDance5_12 POLY LOADONCALL DISCARDABLE "SantaD7_13.ply"
SantaDance5_13 POLY LOADONCALL DISCARDABLE "SantaD7_14.ply"
SantaDance5_14 POLY LOADONCALL DISCARDABLE "SantaD7_15.ply"
SantaDance5_15 POLY LOADONCALL DISCARDABLE "SantaD7_16.ply"

// Santa Dance 6
SantaDance6_0  POLY LOADONCALL DISCARDABLE "SantaD8_01.ply"
SantaDance6_1  POLY LOADONCALL DISCARDABLE "SantaD8_02.ply"
SantaDance6_2  POLY LOADONCALL DISCARDABLE "SantaD8_03.ply"
SantaDance6_3  POLY LOADONCALL DISCARDABLE "SantaD8_04.ply"
SantaDance6_4  POLY LOADONCALL DISCARDABLE "SantaD8_05.ply"
SantaDance6_5  POLY LOADONCALL DISCARDABLE "SantaD8_06.ply"
SantaDance6_6  POLY LOADONCALL DISCARDABLE "SantaD8_07.ply"
SantaDance6_7  POLY LOADONCALL DISCARDABLE "SantaD8_08.ply"
SantaDance6_8  POLY LOADONCALL DISCARDABLE "SantaD8_09.ply"
SantaDance6_9  POLY LOADONCALL DISCARDABLE "SantaD8_10.ply"
SantaDance6_10 POLY LOADONCALL DISCARDABLE "SantaD8_11.ply"
SantaDance6_11 POLY LOADONCALL DISCARDABLE "SantaD8_12.ply"
SantaDance6_12 POLY LOADONCALL DISCARDABLE "SantaD8_13.ply"
SantaDance6_13 POLY LOADONCALL DISCARDABLE "SantaD8_14.ply"
SantaDance6_14 POLY LOADONCALL DISCARDABLE "SantaD8_15.ply"
SantaDance6_15 POLY LOADONCALL DISCARDABLE "SantaD8_16.ply"
SantaDance6_16 POLY LOADONCALL DISCARDABLE "SantaD8_17.ply"
SantaDance6_17 POLY LOADONCALL DISCARDABLE "SantaD8_18.ply"
SantaDance6_18 POLY LOADONCALL DISCARDABLE "SantaD8_19.ply"
SantaDance6_19 POLY LOADONCALL DISCARDABLE "SantaD8_20.ply"
SantaDance6_20 POLY LOADONCALL DISCARDABLE "SantaD8_21.ply"
SantaDance6_21 POLY LOADONCALL DISCARDABLE "SantaD8_22.ply"
SantaDance6_22 POLY LOADONCALL DISCARDABLE "SantaD8_23.ply"
SantaDance6_23 POLY LOADONCALL DISCARDABLE "SantaD8_24.ply"

// Santa Dance 7
SantaDance7_0 POLY LOADONCALL DISCARDABLE "SantaD9_01.ply"
SantaDance7_1 POLY LOADONCALL DISCARDABLE "SantaD9_02.ply"
SantaDance7_2 POLY LOADONCALL DISCARDABLE "SantaD9_04.ply"
SantaDance7_3 POLY LOADONCALL DISCARDABLE "SantaD9_05.ply"
SantaDance7_4 POLY LOADONCALL DISCARDABLE "SantaD9_06.ply"
SantaDance7_5 POLY LOADONCALL DISCARDABLE "SantaD9_07.ply"
SantaDance7_6 POLY LOADONCALL DISCARDABLE "SantaD9_08.ply"
SantaDance7_7 POLY LOADONCALL DISCARDABLE "SantaD9_10.ply"
SantaDance7_8 POLY LOADONCALL DISCARDABLE "SantaD9_11.ply"

// Santa Dance 8
SantaDance8_0 POLY LOADONCALL DISCARDABLE "SantaD12_01.ply"
SantaDance8_1 POLY LOADONCALL DISCARDABLE "SantaD12_02.ply"
SantaDance8_2 POLY LOADONCALL DISCARDABLE "SantaD12_03.ply"
SantaDance8_3 POLY LOADONCALL DISCARDABLE "SantaD12_04.ply"
SantaDance8_4 POLY LOADONCALL DISCARDABLE "SantaD12_05.ply"
SantaDance8_5 POLY LOADONCALL DISCARDABLE "SantaD12_06.ply"
SantaDance8_6 POLY LOADONCALL DISCARDABLE "SantaD12_07.ply"
SantaDance8_7 POLY LOADONCALL DISCARDABLE "SantaD12_08.ply"
SantaDance8_8 POLY LOADONCALL DISCARDABLE "SantaD12_09.ply"
SantaDance8_9 POLY LOADONCALL DISCARDABLE "SantaD12_10.ply"
SantaDance8_10 POLY LOADONCALL DISCARDABLE "SantaD12_11.ply"

// Santa Dance 9
SantaDance9_0 POLY LOADONCALL DISCARDABLE "SantaD15_01.ply"
SantaDance9_1 POLY LOADONCALL DISCARDABLE "SantaD15_02.ply"
SantaDance9_2 POLY LOADONCALL DISCARDABLE "SantaD15_03.ply"
SantaDance9_3 POLY LOADONCALL DISCARDABLE "SantaD15_04.ply"
SantaDance9_4 POLY LOADONCALL DISCARDABLE "SantaD15_05.ply"
SantaDance9_5 POLY LOADONCALL DISCARDABLE "SantaD15_06.ply"
SantaDance9_6 POLY LOADONCALL DISCARDABLE "SantaD15_07.ply"
SantaDance9_7 POLY LOADONCALL DISCARDABLE "SantaD15_08.ply"
SantaDance9_8 POLY LOADONCALL DISCARDABLE "SantaD15_09.ply"
SantaDance9_9 POLY LOADONCALL DISCARDABLE "SantaD15_10.ply"
SantaDance9_10 POLY LOADONCALL DISCARDABLE "SantaD15_11.ply"

// Santa Dance 10
SantaDance10_0 POLY LOADONCALL DISCARDABLE "SantaD16_01.ply"
SantaDance10_1 POLY LOADONCALL DISCARDABLE "SantaD16_02.ply"
SantaDance10_2 POLY LOADONCALL DISCARDABLE "SantaD16_03.ply"
SantaDance10_3 POLY LOADONCALL DISCARDABLE "SantaD16_04.ply"
SantaDance10_4 POLY LOADONCALL DISCARDABLE "SantaD16_05.ply"
SantaDance10_5 POLY LOADONCALL DISCARDABLE "SantaD16_06.ply"
SantaDance10_6 POLY LOADONCALL DISCARDABLE "SantaD16_07.ply"
SantaDance10_7 POLY LOADONCALL DISCARDABLE "SantaD16_08.ply"
SantaDance10_8 POLY LOADONCALL DISCARDABLE "SantaD16_09.ply"
SantaDance10_9 POLY LOADONCALL DISCARDABLE "SantaD16_10.ply"
SantaDance10_10 POLY LOADONCALL DISCARDABLE "SantaD16_11.ply"

// Santa Dance 11
SantaDance11_0 POLY LOADONCALL DISCARDABLE "SantaD17_01.ply"
SantaDance11_1 POLY LOADONCALL DISCARDABLE "SantaD17_02.ply"
SantaDance11_2 POLY LOADONCALL DISCARDABLE "SantaD17_03.ply"
SantaDance11_3 POLY LOADONCALL DISCARDABLE "SantaD17_04.ply"
SantaDance11_4 POLY LOADONCALL DISCARDABLE "SantaD17_05.ply"
SantaDance11_5 POLY LOADONCALL DISCARDABLE "SantaD17_06.ply"
SantaDance11_6 POLY LOADONCALL DISCARDABLE "SantaD17_07.ply"
SantaDance11_7 POLY LOADONCALL DISCARDABLE "SantaD17_08.ply"
SantaDance11_8 POLY LOADONCALL DISCARDABLE "SantaD17_09.ply"
SantaDance11_9 POLY LOADONCALL DISCARDABLE "SantaD17_10.ply"
SantaDance11_10 POLY LOADONCALL DISCARDABLE "SantaD17_11.ply"


// Misc	polys
housePly POLY LOADONCALL DISCARDABLE "HouseDXF4.ply"
snowPly POLY LOADONCALL DISCARDABLE "snow.ply"

// Coordinates File
houseCrd CRD LOADONCALL DISCARDABLE "HouseDXF4.crd"
snowCrd CRD LOADONCALL DISCARDABLE "snow.crd"
SantaCrd CRD LOADONCALL DISCARDABLE "SantaD1_01.crd"
RudolfCrd CRD LOADONCALL DISCARDABLE "Deer_A01.crd"

// Textures
houseTxt BTXT LOADONCALL DISCARDABLE "HouseDXF4.bt"
snowTxt BTXT LOADONCALL DISCARDABLE "snow.bt"
RudolfTxt BTXT LOADONCALL DISCARDABLE "Deer_A01.bt"
SantaTxt BTXT LOADONCALL DISCARDABLE "SantaD1_01.bt"

// Shaded tables
ShadedTable8bit STBL LOADONCALL "SantaD1_01.st8"
ShadedTable16bit STBL LOADONCALL "SantaD1_01.s16"

// Speed test render files
SpeedTest POLY LOADONCALL DISCARDABLE "testRender.ply"
SpeedTestBt BTXT LOADONCALL DISCARDABLE "testRender.bt"

/* midi toons */
Song0 MIDI LOADONCALL DISCARDABLE "christme.mid"
Song1 MIDI LOADONCALL DISCARDABLE "frosty1.mid"
Song2 MIDI LOADONCALL DISCARDABLE "hllyjlly.mid"
Song3 MIDI LOADONCALL DISCARDABLE "jbllrock.mid"
Song4 MIDI LOADONCALL DISCARDABLE "linusxms.mid"
Song5 MIDI LOADONCALL DISCARDABLE "mommykiss.mid"
Song6 MIDI LOADONCALL DISCARDABLE "MSRbells.mid"
Song7 MIDI LOADONCALL DISCARDABLE "MSRHark.mid"
Song8 MIDI LOADONCALL DISCARDABLE "noel1.mid"
Song9 MIDI LOADONCALL DISCARDABLE "noplace.mid"
Song10 MIDI LOADONCALL DISCARDABLE "pchricom.mid"
Song11 MIDI LOADONCALL DISCARDABLE "pskating.mid"
Song12 MIDI LOADONCALL DISCARDABLE "rocktree.mid"
Song13 MIDI LOADONCALL DISCARDABLE "rudolph.mid"
Song14 MIDI LOADONCALL DISCARDABLE "santacmng.mid"
Song15 MIDI LOADONCALL DISCARDABLE "sothis2.mid"
Song16 MIDI LOADONCALL DISCARDABLE "sugarplm.mid"
Song17 MIDI LOADONCALL DISCARDABLE "winwondr.mid"

// Be sure to NULL terminate these text files and that all the information is correct
settings TXT LOADONCALL MOVEABLE "settings.txt"

// Config dialog
DLG_CONFIG DIALOG 0, 0, 229, 166
STYLE DS_3DLOOK | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_THICKFRAME
CAPTION "Screen Save Preferences"
FONT 8, "MS Sans Serif"
{
 CONTROL "OK", BTN_OK, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 140, 144, 36, 14
 CONTROL "Cancel", BTN_CANCEL, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 184, 144, 35, 14
 CONTROL "Text1", STC_RENDER_RES, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 8, 71, 108, 8, 0
 CONTROL "ScrollBar1", SCR_RENDER_RES, "scrollbar", SBS_HORZ | WS_CHILD | WS_VISIBLE, 8, 84, 100, 9, 0
 CONTROL "", EDT_REG_NUMBER, "edit", ES_LEFT | WS_CHILD | NOT WS_VISIBLE | WS_BORDER | WS_TABSTOP, 8, 236, 100, 13, 0
 CONTROL "Size To Fill Screen", CHK_FILL_SCREEN, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 8, 104, 95, 12, 0
 CONTROL "Registration Number:", TXT_REG_NUM, "static", SS_LEFT | WS_CHILD | NOT WS_VISIBLE, 8, 222, 104, 12, 0
 CONTROL "Order Form", BTN_ORDER_FORM, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP, 120, 236, 101, 14, 0
 CONTROL "Music Options", GRPBOX_MUSIC, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 120, 70, 100, 66, 0
 CONTROL "Music Off", RDO_MUSIC_OFF, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 128, 82, 60, 12, 0
 CONTROL "Play Theme Music", RDO_DEFAULT_MUSIC, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 128, 94, 80, 12, 0
 CONTROL "Load Your Own", RDO_LOAD_YOUR_OWN, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 128, 106, 80, 12, 0
 CONTROL "Randomize Music", CHK_RAND_MUSIC, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_TABSTOP, 136, 118, 76, 12, 0
 CONTROL "go to  www.howiesfunware.com", BTN_WEB_SITE, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 8, 144, 120, 13, 0
 CONTROL "Run in 16 Bit Color Mode", CHK_FORCE_16BIT, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 8, 120, 100, 12, 0
}

// Version information
1 VERSIONINFO
 FILEVERSION 3,3,0,0
 PRODUCTVERSION 3,3,0,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0xbL
#else
 FILEFLAGS 0xaL
#endif
 FILEOS 0x4L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
			VALUE "Comments", "www.howiesfunware.com  Please visit my web site for more great products.\0"
            VALUE "CompanyName", "Howie's Funware\0"
			VALUE "FileDescription", "Dance Santa Dance Screen Saver\0"
			VALUE "FileVersion", "1.0.5\0"
            VALUE "InternalName", "Dance Santa Dance \0"
            VALUE "LegalCopyright", "\251 Copyright 2002 Howie's Funware\0"
			VALUE "LegalTrademarks", "\0"
			VALUE "OriginalFilename", "Dance Santa Dance .scr\0"
            VALUE "ProductName", "Dance Santa Dance \0"
            VALUE "ProductVersion", "1.0.5\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END


