#include "GDefines.h"

//  Make the name of this resource the name of your screen saver
//  This resource is for holding all your screen saver specific resources

// AppIcon automatically makes it the icon for the *.exe
// This icon is also used for the parent window
AppIcon ICON "screen.ico"

// Graphics
flag0 POLY LOADONCALL DISCARDABLE "Flag_01.ply"
flag1 POLY LOADONCALL DISCARDABLE "Flag_02.ply"
flag2 POLY LOADONCALL DISCARDABLE "Flag_03.ply"
flag3 POLY LOADONCALL DISCARDABLE "Flag_04.ply"
flag4 POLY LOADONCALL DISCARDABLE "Flag_05.ply"
flag5 POLY LOADONCALL DISCARDABLE "Flag_06.ply"
flag6 POLY LOADONCALL DISCARDABLE "Flag_07.ply"
flag7 POLY LOADONCALL DISCARDABLE "Flag_08.ply"
flag8 POLY LOADONCALL DISCARDABLE "Flag_09.ply"
flag9 POLY LOADONCALL DISCARDABLE "Flag_10.ply"
flag10 POLY LOADONCALL DISCARDABLE "Flag_11.ply"
flag11 POLY LOADONCALL DISCARDABLE "Flag_12.ply"
flag12 POLY LOADONCALL DISCARDABLE "Flag_13.ply"
flag13 POLY LOADONCALL DISCARDABLE "Flag_14.ply"
flag14 POLY LOADONCALL DISCARDABLE "Flag_15.ply"
flag15 POLY LOADONCALL DISCARDABLE "Flag_16.ply"
flag16 POLY LOADONCALL DISCARDABLE "Flag_17.ply"
flag17 POLY LOADONCALL DISCARDABLE "Flag_18.ply"
flag18 POLY LOADONCALL DISCARDABLE "Flag_19.ply"
flag19 POLY LOADONCALL DISCARDABLE "Flag_20.ply"
pole POLY LOADONCALL DISCARDABLE "Flag_POLE.ply"

FlagCrd CRD LOADONCALL DISCARDABLE "Flag_01.crd"

FlagBt BTXT LOADONCALL DISCARDABLE "Flag_01.bt"
SpeedTestBt BTXT LOADONCALL DISCARDABLE "testRender.bt"

ShadedTable8bit STBL LOADONCALL "Flag_01.st8"
ShadedTable16bit STBL LOADONCALL "Flag_01.s16"

BlueStarBackground16 BMP LOADONCALL DISCARDABLE "BlueClouds16.bmp"
BlueStarBackground8 BMP LOADONCALL DISCARDABLE "BlueClouds8.bmp"

/* midi toons */
ThemeSong MIDI LOADONCALL DISCARDABLE "patriot.mid"

// Be sure to NULL terminate these text files and that all the information is correct
settings TXT LOADONCALL MOVEABLE "settings.txt"

// Config dialog
DLG_CONFIG DIALOG 0, 0, 229, 204
STYLE DS_3DLOOK | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_THICKFRAME
CAPTION "Screen Save Preferences"
FONT 8, "MS Sans Serif"
{
 CONTROL "OK", BTN_OK, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 120, 166, 46, 14
 CONTROL "Cancel", BTN_CANCEL, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 174, 166, 45, 14
 CONTROL "Text1", STC_RENDER_RES, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 8, 68, 112, 8, 0
 CONTROL "ScrollBar1", SCR_RENDER_RES, "scrollbar", SBS_HORZ | WS_CHILD | WS_VISIBLE, 8, 81, 100, 9, 0
 CONTROL "", EDT_REG_NUMBER, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 8, 146, 100, 13, 0
 CONTROL "Registration Number:", TXT_REG_NUM, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 8, 132, 104, 12, 0
 CONTROL "funware@aol.com", -1, "static", SS_CENTER | WS_CHILD | WS_VISIBLE, 8, 186, 88, 12, 0
 CONTROL "Order Form", BTN_ORDER_FORM, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 8, 166, 101, 14, 0
 CONTROL "Music Options", GRPBOX_MUSIC, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 120, 70, 100, 68, 0
 CONTROL "Music Off", RDO_MUSIC_OFF, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 128, 82, 60, 12, 0
 CONTROL "Play Theme Music", RDO_DEFAULT_MUSIC, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 128, 94, 80, 12, 0
 CONTROL "Load Your Own", RDO_LOAD_YOUR_OWN, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 128, 106, 80, 12, 0
 CONTROL "Randomize Music", CHK_RAND_MUSIC, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_TABSTOP, 136, 118, 76, 12, 0
 CONTROL "go to  www.howiesfunware.com", BTN_WEB_SITE, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 96, 184, 124, 13, 0
 CONTROL "Size To Fill Screen", CHK_FILL_SCREEN, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 120, 144, 100, 12, 0
 CONTROL "Rotate Around Flag", CHK_ROTATE_FLAG, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 8, 93, 84, 12, 0
 CONTROL "Twinkle Stars", CHK_TWINKLE_STARS, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 8, 105, 64, 12, 0
 CONTROL "Run in 16 Bit Color Mode", CHK_FORCE_16BIT, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 8, 117, 100, 12, 0
}

// Version information
1 VERSIONINFO
 FILEVERSION 3,3,0,0
 PRODUCTVERSION 3,3,0,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0xbL
#else
 FILEFLAGS 0xaL
#endif
 FILEOS 0x4L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
			VALUE "Comments", "www.howiesfunware.com  Please visit my web site for more great products.\0"
            VALUE "CompanyName", "Howie's Funware\0"
			VALUE "FileDescription", "Salute To Old Glory Screen Saver\0"
			VALUE "FileVersion", "1.0.3\0"
            VALUE "InternalName", "Flag\0"
            VALUE "LegalCopyright", "\251 Copyright 2002 Howie's Funware\0"
			VALUE "LegalTrademarks", "\0"
			VALUE "OriginalFilename", "Salute To Old Glory.scr\0"
            VALUE "ProductName", "Salute To Old Glory\0"
            VALUE "ProductVersion", "1.0.3\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END


